/* ----------------------------------------------Geral----------------------------------------------------*/

/* -------------------------------------------Fontes-------------------------------------------------*/

/*------------------------------------------Fonte das Paginas------------------------------------------*/
* {
  font-family: Helvetica;
  color: rgb(33, 33, 33);
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/*------------------------------------------Titulos e Destaques------------------------------------------*/

h1 {
  font-size: 2.2vw;
  font-weight: bold;
}

p {
  font-size: 1.4vw;
  font-weight: normal;
}

/* ---------------------------Home---------------------------------*/
.t1 {
  font-size: 4vw;
  margin-left: 10vw;
  margin-top: 8vh;
  font-weight: bold;
}

.t2 {
  font-size: 3.5vw;
  margin-left: 20vw;
  font-weight: bold;
}

.t3 {
  font-size: 3.5vw;
  margin-left: 15vw;
  margin-top: 8vh;
  font-weight: bold;
}

.t4 {
  font-size: 3vw;
  margin-left: 25vw;
  font-weight: bold;
}

/* ---------------------------Sobre---------------------------------*/
.ts1 {
  font-size: 3vw;
  text-align: center;
  font-weight: bold;
}
.ts2 {
  font-size: 2.2vw;
  text-align: center;
  font-weight: none;
}
.ts3 {
  font-size: 2.3vw;
  text-align: center;
  font-weight: bold;
}

/* ------------------------Conhecimentos----------------------------*/
li {
  font-size: 1.8vw;
  font-weight: bold;
  list-style: none;
}

ul > p {
  font-size: 1.3vw;
  font-weight: normal;
}
/* --------------------------Projetos------------------------------*/

.pj_list{
  font-size: 2.2vw;
  font-weight: bold;

}

/* ---------------------------Footer---------------------------------*/
a {
  color: white;
  text-decoration: none;
}

/* -------------------------------------------Grids-------------------------------------------------*/
.grid_home {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 7fr 3fr;
  grid-template-areas:
    "h h"
    "ab1 ft"
    "ab2 ft"
    "ab3 ft"
    "ab4 ft"
    "f f";
}
.grid_sobre {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 9fr 0.5fr 9fr 1fr;
  grid-template-areas:
    "h h h h h"
    ". sobre sobre sobre ."
    ". vd . exp ."
    ". int int int ."
    "esp esp esp esp esp"
    "f f f f f";
}
.grid_conheci {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 9fr 0.5fr 9fr 1fr;
  grid-template-areas:
    "h h h h h"
    ". ha . co ."
    "f f f f f";
}
.grid_proj {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 9fr 1fr 9fr 1fr;
  grid-template-areas:
    "h h h h h"
    ". pj . re ."
    "f f f f f";
}

/* -------------------------------------------Header-------------------------------------------------*/
header {
  background-color: rgb(33, 33, 33);
  height: 10vw;
  max-height: 10vh;
  grid-area: h;
}

.botoes button {
  background-color: rgb(33, 33, 33);
  color: white;
  width: 24vw;
  font-weight: bold;
}
.menu_responsivo {
  display: inline-block;
  width: 50vh;
  height: 10vw;
  max-height: 10vh;
  border-style: none;
  font-size: min(max(12px, 2vw), 40px);
}
/* -------------------------------------------Home-------------------------------------------------*/
.abertura_responsiva_1 {
  grid-area: ab1;
  margin-top: 2vw;
  height: 10vh;
}
.abertura_responsiva_2 {
  grid-area: ab2;
  height: 10vh;
}
.abertura_responsiva_3 {
  grid-area: ab3;
  margin-top: 2vw;
  height: 10vh;
}
.abertura_responsiva_4 {
  grid-area: ab4;
  height: 10vh;
  margin-bottom: 8em;
}
.div_responsiva_foto {
  grid-area: ft;
  align-self: center;
  justify-content: center;
}
.foto_responsiva {
  width: 70%;
  border-radius: 2em;
}
/* -------------------------------------------Sobre-------------------------------------------------*/
.ab_sobre {
  grid-area: sobre;
  margin: 2vw;
  height: auto;
}
.vida {
  grid-area: vd;
  height: auto;
  margin: 5vh;
  margin-top: 0;
  margin-bottom: 1vh;
}
.exp_prof {
  grid-area: exp;
  height: auto;
  margin: 5vh;
  margin-top: 0;
  margin-bottom: 1vh;
}
.interess {
  grid-area: int;
  height: auto;
  margin: 5vh;
  margin-top: 0;
}
/* ---------------------------------------Conhecimentos---------------------------------------------*/
.hist_acad {
  grid-area: ha;
  margin: 2vw;
  height: auto;
}
.t_conhecimentos {
  grid-area: co;
  margin: 2vw;
  height: auto;
  text-align: center;
}
.conhecimentos {
  background-color: rgb(33, 33, 33);
  margin: auto;
  margin-bottom: 10vw;
  border: none;
  border-radius: 2em;
  display: table;
  margin: 0px auto 0px auto;
  padding: 5px;
  font-size: 20px;
}
.co_list {
  margin: auto;
  color: white;
  margin-right: 3vw;
}
.co {
  margin: 2vw;
}
/* ---------------------------------------Projetos---------------------------------------------*/
.projetos {
  grid-area: pj;
  margin: 2vw;
  height: auto;
}
.realizados {
  grid-area: re;
  margin: 2vw;
  height: auto;
  text-align: center;
}
.tp {
  font-size: 3vw;
}
.img_responsiva {
  height: 200px;
  width: 300px;
  border-radius: 2em;
}
/* -------------------------------------------Footer-------------------------------------------------*/
footer {
  grid-area: f;
  color: white;
  background-color: rgb(33, 33, 33);
  display: grid;
  width: 100vw;
  height: 1fr;
  grid-template-columns: 6;
  grid-template-rows: 2;
  grid-template-areas:
    "lmp mp lld ld cm cm"
    "lma ma lgh gh cm cm";
}

.esp {
  grid-area: esp;
  height: 30vh;
}

.ma {
  height: auto;
  align-self: center;
  font-size: 1.5em;
  text-align: center;
  grid-area: ma;
}
.mp {
  height: auto;
  align-self: center;
  font-size: 1.5em;
  text-align: center;
  grid-area: mp;
}
.ld {
  height: auto;
  align-self: center;
  font-size: 1.5em;
  text-align: center;
  grid-area: ld;
}
.gh {
  height: auto;
  align-self: center;
  font-size: 1.5em;
  text-align: center;
  grid-area: gh;
}
.lmp {
  width: 2vw;
  align-self: center;
  size: auto;
  filter: invert(100%);
  grid-area: lmp;
}
.lma {
  width: 2vw;
  align-self: center;
  size: auto;
  filter: invert(100%);
  grid-area: lma;
}
.lld {
  width: 2vw;
  align-self: center;
  size: auto;
  filter: invert(100%);
  grid-area: lld;
}
.lgh {
  width: 2vw;
  align-self: center;
  size: auto;
  filter: invert(100%);
  grid-area: lgh;
}

/* -------------------------------------------Responsividade 1250-------------------------------------------------*/
/* Responsividade < 1250px*/
@media (max-width: 1250px) {
  /* ---------------------------Home---------------------------------*/
  .t1,
  .t2,
  .t3,
  .t4 {
    font-size: 4.5vw;
  }
  /* ---------------------------Sobre---------------------------------*/
}

/* -------------------------------------------Responsividade 1024-------------------------------------------------*/
/* Responsividade < 1024px*/
@media (max-width: 1024px) {
  /* ---------------------------Home---------------------------------*/
  .t1,
  .t2,
  .t3,
  .t4 {
    font-size: 5vw;
  }

  /* ---------------------------Sobre---------------------------------*/
  h1 {
    font-size: 3vw;
    font-weight: bold;
  }
  p {
    font-size: 2vw;
    font-weight: normal;
  }
  .ts1 {
    font-size: 4.2vw;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0;
  }
  .ts2 {
    font-size: 2.5vw;
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .ts3 {
    font-size: 3vw;
    text-align: center;
    font-weight: bold;
  }
}

/* -------------------------------------------Responsividade 900-------------------------------------------------*/
/* Responsividade < 900px*/
@media (max-width: 900px) {
  /* ---------------------------Home---------------------------------*/
  .grid_home {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 100%;
    grid-template-areas:
      "h"
      "ab1 "
      "ab2"
      "ft"
      "ab3"
      "ab4"
      "f";
  }

  .foto_responsiva {
    display: flex;
    justify-content: start;
    width: 70%;
    margin-top: 8vh;
    margin-left: 15vw;
    border-radius: 2em;
    filter: opacity(95%);
  }
  .abertura_responsiva_1,
  .abertura_responsiva_2,
  .abertura_responsiva_3,
  .abertura_responsiva_4 {
    text-align: center;
  }

  .t1,
  .t2,
  .t3,
  .t4 {
    font-size: 8vw;
    margin-left: none;
    margin-top: none;
    margin-bottom: none;
    margin-right: none;
  }

  /* ---------------------------Sobre---------------------------------*/
  .grid_sobre {
    grid-template-columns: 1fr;
    grid-template-areas:
      "h"
      "sobre"
      "vd"
      "exp"
      "int"
      "esp"
      "f";
  }
  h1 {
    font-size: 3.8vw;
    font-weight: bold;
  }
  p {
    font-size: 2.5vw;
    font-weight: normal;
  }
  .ts1 {
    font-size: 5.7vw;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0;
  }
  .ts2 {
    font-size: 3.5vw;
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .ts3 {
    font-size: 4.1vw;
    text-align: center;
    font-weight: bold;
  }

  /* -----------------------Conhecimentos-----------------------------*/
  .grid_conheci {
    display: grid;
    width: 100vw;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "h"
      "ha"
      "co"
      "f";
  }
  li {
    font-size: 4vw;
    font-weight: bold;
    list-style: none;
  }
  ul > p {
    font-size: 2vw;
    margin-right: 15vw;
    font-weight: normal;
  }
  .co_list {
    margin-right: 5vw;
  }
  .co {
    font-size: 7.5vw;
    text-align: center;
    margin: 5vw;
  }
  .conhecimentos {
    margin-bottom: 10vw;
}

/* -------------------------------------------Responsividade 500-------------------------------------------------*/
/* Responsividade < 500px*/
@media (max-width: 500px) {
  .grid_home {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 100%;
    grid-template-areas:
      "h"
      "ab1 "
      "ab2"
      "ft"
      "ab3"
      "ab4"
      "f";
  }

  .foto_responsiva {
    display: inline;
    width: 70%;
    margin-top: 8vh;
    margin-left: 15vw;
    border-radius: 2em;
  }
  .abertura_responsiva_1,
  .abertura_responsiva_2,
  .abertura_responsiva_3,
  .abertura_responsiva_4 {
    /* margin-bottom: 0;
    margin-top: 0; */
    text-align: center;
  }

  .t1,
  .t2,
  .t3,
  .t4 {
    font-size: 8vw;
    margin-left: none;
    margin-top: none;
    margin-bottom: none;
    margin-right: none;
  }
  /* ---------------------------Sobre---------------------------------*/
  .grid_sobre {
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-areas:
      "h"
      "sobre"
      "vd"
      "exp"
      "int"
      "esp"
      "f";
  }
  h1 {
    font-size: 4.8vw;
    font-weight: bold;
  }
  p {
    font-size: 3vw;
    font-weight: normal;
  }
  .ts1 {
    font-size: 7.2vw;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0;
  }
  .ts2 {
    font-size: 4.4vw;
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .ts3 {
    font-size: 5.2vw;
    text-align: center;
    font-weight: bold;
  }

  /* -----------------------Conhecimentos-----------------------------*/
  .grid_conheci {
    display: grid;
    width: 100vw;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "h"
      "ha"
      "co"
      "f";
  }
  li {
    font-size: 4vw;
  }
  ul > p {
    font-size: 3vw;
    margin-right: 15vw;
    font-weight: normal;
  }
  .co_list {
    margin-right: 7vw;
  }
  .co {
    font-size: 7.5vw;
    text-align: center;
    margin: 5vw;
  }
  .conhecimentos {
    margin-bottom: 10vw;
}
}
